<mat-card class="example-card" *ngIf="article">
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>
        <span> Author:</span> {{ article.author }}
    </mat-card-subtitle>
    <img mat-card-image src="{{article.featureImgUrl}}" alt="Photo of a Shiba Inu" *ngIf="article.featureImgUrl">
    <mat-card-content>
        <div class="content">

            <div class="type">
                <div>Type:</div>
                <mat-chip-list aria-label="Type">
                    <mat-chip selected color="{{ article.type == 'FEATURED' ? 'warn' : 'primary' }}">{{ article.type
                        }}</mat-chip>
                </mat-chip-list>
            </div>
            <div [innerHTML]="article.description" class="description"></div>
        </div>
        <div class="published-date"><span>Published:</span> {{article.publishedAt | date: 'MMM d, y, h:mm:ss a'}}
        </div>
    </mat-card-content>
</mat-card>