
mat-card-subtitle span {
    font-weight: 600;
}

img {
    max-width: 500px;
    max-height: 600px;
}

.type {
    display: flex;
}

.type div {
    color: rgba(0, 0, 0, .54);
    font-weight: 600;
    margin: 6px;
}

mat-chip {
    font-size: 11px;
}

mat-card {
    width: 90%;
    height: 100%;
    cursor: pointer;
    overflow-y: overlay;
    background-color: white;
}

.content {
    margin-bottom: 35px;
}

.description {
    color: #838080;
}


.published-date {
    position: absolute;
    bottom: 15px;
    color: #9f9f9f;
}

.published-date span {
    font-weight: 600;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px 5px 7px 5px !important;
}